<!DOCTYPE html>
<html lang="sp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf detalle bitacora</title>

    <style>
        @page {
            size: A4;
            margin: 20mm;
        }

        body {
            font-family: Arial, sans-serif;
            padding: 25px;
            color: #333;
        }

        h2 {
            margin-bottom: 20px;
            color: #0f4c81;
        }

        .info-table {
            margin-bottom: 2rem;
            width: 100%;
            border-collapse: collapse;
        }

        .info-table td {
            border: 1px solid #dcdcdc;
            padding: 8px;
            font-size: 12px;
            vertical-align: top;
        }

        .label {
            width: 18%;
            font-weight: bold;
            background-color: #f2f2f2;
        }

        .value {
            width: 32%;
        }

        .div-responsive {
            margin-bottom: 0;
            margin-top: 0;
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            gap: 1rem;
        }

    </style>

</head>

<body>
    <h1 style="margin: 0; margin-bottom: 2rem; padding: 0; text-align: center;">Detalles Bitácoras</h1>

    {% if logbook.get("id_logbook_entry") %}

        <h2 style="margin: 0; padding: 0;">Bitácora entrada</h2>



        <table class="info-table">

            <tr>
                <td class="label">Guía</td>
                <td class="value">
                    {{ logbook['shipping_guide'] }}
                </td>

                <td class="label">Fecha</td>
                <td class="value">
                    {{ logbook['created_at'].strftime('%d/%m/%Y %H:%M') }}
                </td>
            </tr>

            <tr>
                <td class="label">Coordenadas</td>
                <td class="value">
                    {{ logbook.lat }},
                    {{ logbook.long }}
                </td>

                <td class="label">Categoría</td>
                <td class="value">
                    {{ logbook.name_category }}
                </td>
            </tr>

            <tr>
                <td class="label">Localidad</td>
                <td class="value">
                    {{ logbook.group_name or '-' }}
                </td>

                <td class="label">Placa</td>
                <td class="value">
                    {{ logbook.truck_license }}
                </td>
            </tr>

            <tr>
                <td class="label">Cantidad</td>
                <td class="value">
                    {{ logbook.quantity }}
                </td>

                <td class="label">Peso</td>
                <td class="value">
                    {{ logbook.weight }}
                </td>
            </tr>

            <tr>
                <td class="label">Proveedor</td>
                <td class="value">
                    {{ logbook.provider or '-' }}
                </td>

                <td class="label">Guardia</td>
                <td class="value">
                    {{ logbook.name_user }}
                </td>
            </tr>

            <tr>
                <td class="label">Coductor</td>
                <td class="value">
                    {{ logbook.name_driver or '-' }}
                </td>

                <td class="label">Destino</td>
                <td class="value">
                    {{ logbook.destiny or '-' }}
                </td>    
            </tr>

            <tr>
                <td class="label">Creado por</td>
                <td class="value">
                    {{ logbook.created_by }}
                </td>
            </tr>

        </table>

        <!-- <div class="section">
                <h3>Descripción</h3>
                <p>{{ logbook.descripcion }}</p>
            </div> -->

        <h3 style="margin: 0; padding: 0;">Descripción</h3>
        <p style="margin: 0; padding: 0;">{{ logbook.description or '-' }}</p>

        <h3 style="margin: 0; margin-top: 2rem; padding: 0;">Observaciones</h3>
        <p style="margin: 0; padding: 0;">{{ logbook.observations or '-' }}</p>


        <h3 style="margin: 0; padding: 0; margin-top: 2rem;">Imágenes</h3>

        <table width="100%" style="margin-top: 1rem;">

            {% for row in images_entry | batch(2, None) %}

                <tr>

                    {% for image in row %}

                        <td
                            align="center"
                            style="padding:10px; page-break-inside: avoid;"
                        >

                            {% if image %}
                                <img
                                    src="{{ image }}"
                                    width="220"
                                    height="160"
                                    style="border:1px solid #ccc;"
                                >
                            {% endif %}

                        </td>

                    {% endfor %}

                </tr>

            {% endfor %}

        </table>

            
    {% endif %}


    {% if out %}
        <h2 style="margin: 0; margin-top: 2rem; padding: 0;">Bitácora salida</h2>

        <table class="info-table">
    
            <tr>
                <td class="label">Guía</td>
                <td class="value">
                    {{ out['shipping_guide'] }}
                </td>
    
                <td class="label">Fecha</td>
                <td class="value">
                    {{ out['created_at'].strftime('%d/%m/%Y %H:%M') }}
                </td>
            </tr>
    
            <tr>
                <td class="label">Coordenadas</td>
                <td class="value">
                    {{ out.lat }},
                    {{ out.long }}
                </td>
    
                <td class="label">Categoría</td>
                <td class="value">
                    {{ out.name_category }}
                </td>
            </tr>

            <tr>
                <td class="label">Localidad</td>
                <td class="value">
                    {{ logbook.group_name or '-' }}
                </td>

                <td class="label">Placa</td>
                <td class="value">
                    {{ logbook.truck_license }}
                </td>
            </tr>
    
            <tr>
                <td class="label">Cantidad</td>
                <td class="value">
                    {{ out.quantity }}
                </td>
    
                <td class="label">Peso</td>
                <td class="value">
                    {{ out.weight }}
                </td>
            </tr>

            <tr>
                <td class="label">Custodia</td>
                <td class="value">
                    {{ logbook.person_withdraws or '-' }}
                </td>

                <td class="label">Guardia</td>
                <td class="value">
                    {{ logbook.name_user }}
                </td>
            </tr>
    
            <tr>
                <td class="label">Coductor</td>
                <td class="value">
                    {{ logbook.name_driver or '-' }}
                </td>

                <td class="label">Destino</td>
                <td class="value">
                    {{ out.destiny or '-' }}
                </td>
            </tr>

            <tr>
                <td class="label">Creado por</td>
                <td class="value">
                    {{ out.created_by }}
                </td>
            </tr>
    
        </table>
    
        <h3 style="margin: 0; padding: 0;">Observaciones</h3>
        <p style="margin: 0; padding: 0;">{{ out.observations or '-' }}</p>

        <h3 style="margin: 0; padding: 0; margin-top: 2rem;">Imágenes</h3>

        
        <table width="100%" style="margin-top: 1rem;">

            {% for row in images_out | batch(2, None) %}

                <tr>

                    {% for image in row %}

                        <td
                            align="center"
                            style="padding:10px; page-break-inside: avoid;"
                        >

                            {% if image %}
                                <img
                                    src="{{ image }}"
                                    width="220"
                                    height="160"
                                    style="border:1px solid #ccc;"
                                >
                            {% endif %}

                        </td>

                    {% endfor %}

                </tr>

            {% endfor %}

        </table>


    {% endif %}




</body>

</html>